.react-select-single-control {
  font-size: 14px;
  border-radius: 0 !important;
  cursor: pointer !important;
  min-height: initial !important;
  box-shadow: none !important;
}

.react-select-single-option {
  cursor: pointer !important;

  &:active {
    background: initial !important;
  }
}
